body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Itim';
}

#header{
    background-image: url(./images/background\ 2.jpg);
    display: flex;
    width: 100%;
    height: 100px;
    background-position-y: 20%;
    background-position: right 45%;
    background-size: cover;
}
.header {
    width: 130px;
    color: rgb(209,72,54);
    height: 80px;
    border-radius: 15px;
    background-color: rgb(73,197,182);
    margin-top: 9px;
    border: none;
    opacity: 80%;
}
.header-left {
    margin-right: 45%;
}
.header-right {
    margin-left: 45%;
    margin-right: 2%;
}
h1{
    text-align: center;
    color : rgb(209,72,54);
    font-size: 60px;
    margin-top: 20px;
    text-shadow: black 10%;
    
}
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    
  }
  .search {
    margin-left: 30%;
    text-align: center;
    width: 500px;
    height: 40px;
    background-color: rgb(73,197,182);
    border-radius: 20px;
    opacity: 80%;
  }

  .loupe { 
    height: 40px;
    margin-left: 31% ;
    opacity: 1;
    color: black;
    
  }
  .recherche {
    position: relative;
  }
  .recherche img,search{
    position: absolute;
  }
  .recherche img{
    opacity: 1;
    color: black;
  }
  .h2 {
    text-align: center;
    text-decoration-line: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
  }

 #conteneur {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
 }
 .saumon{
  height: 250px;
  width: 250px;
  border-radius: 20px;
 }
 .salade{
  height: 250px;
  width: 250px;
  border-radius: 20px;
 }
 .scampis{
  height: 250px;
  width: 250px;
  border-radius: 20px;
 }
 .thèmes{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  margin-top: 150px;

 }


 /* Pastilles thèmes */

#pastilles{
  display: flex;
  justify-content: space-around;
}
.d1{
  width: 100px;
  height: 100px;
  background-color:rgb(209,72,54);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.rapide{
    width: 50px;
    height: 40px;
    background-color:rgb(209,72,54) ;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.d2{
    width: 100px;
    height: 100px;
    background-color:rgb(209,72,54);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.entrée{
    width: 50px;
    height: 40px;
    background-color:rgb(209,72,54) ;
    border-radius: 10px;
    padding-bottom: 20px;
}
.d3{
    width: 100px;
    height: 100px;
    background-color:rgb(209,72,54);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.Plats{
      width: 50px;
      height: 40px;
      background-color:rgb(209,72,54) ;
      border-radius: 10px;
      padding-bottom: 20px;
}
.d4{
    width: 100px;
    height: 100px;
    background-color:rgb(209,72,54);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.Desserts{
          width: 50px;
          height: 40px;
          background-color:rgb(209,72,54) ;
          border-radius: 10px;
          padding-bottom: 20px;
}
.d5{
        width: 100px;
        height: 100px;
        background-color:rgb(209,72,54);
        border-radius: 10px;
        text-align: center;
        padding-bottom: 20px;
}

.Vegan{
        width: 50px;
        height: 40px;
        background-color:rgb(209,72,54) ;
        border-radius: 10px;
        padding-bottom: 20px;
}
.ingrédients{
        width: 600px;
        height: 150px;
        background-color: rgb(73,197,182);
        border-radius: 20px;
        opacity: 80%;
        text-align: center;
        margin-left: 350px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
}
.texte{
        display: flex;
        display: block;
        padding-top: 60px;
 
 
}
#Ingrédients {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
 }


.choux{
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  
}



.poireaux{
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
}

 
 .endives{
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
 }

 
 .collin{
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
 }

 
 .poire{
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
 }
 
 .T1{
  width: 100px;
  height: 10px;
  border-radius: 10px;
  text-align: center;
  
}
.T2{
  width: 100px;
  height: 10px;
  border-radius: 10px;
  text-align: center;
  
}
.T3{
  width: 100px;
  height: 10px;
  border-radius: 10px;
  text-align: center;
  
}
.T4{
  width: 100px;
  height: 10px;
  border-radius: 10px;
  text-align: center;
  
}
.T5{
  width: 100px;
  height: 10px;
  border-radius: 10px;
  text-align: center;
  
}
.footer{
  background-color:rgb(209,72,54);
  height: 200px;
  margin-top: 100px; 
}