body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Itim';
        background-color:bisque 
}

#header {
        background-image: url(./images/background\ 2.jpg);
        display: flex;
        width: 100%;
        height: 120px;
        background-position-y: 20%;
        background-position: right 45%;
        background-size: cover;
        
       
        
}

.header {
        width: 130px;
        color: rgb(209, 72, 54);
        height: 50px;
        border-radius: 15px;
        background-color: rgb(73, 197, 182);
        margin-top: 15px;
        border: none;
        opacity: 80%;
        margin-left: 15px;
}

.header-left {
        margin-right: 45%;
}

.header-right {
        margin-left: 45%;
        margin-right: 2%;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);
}

h1 {
        text-align: center;
        color: rgb(209, 72, 54);
        font-size: 60px;
        margin-top: 20px;
        text-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);

}

.burger-icon span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 6px 0;

}

.search {
        margin-left: 30%;
        text-align: center;
        width: 500px;
        height: 40px;
        background-color: rgb(73, 197, 182);
        border-radius: 20px;
        opacity: 80%;
}

.loupe {
        height: 40px;
        margin-left: 31%;
        opacity: 1;
        color: black;

}

.recherche {
        position: relative;
        margin-left: 90px;
}

.recherche img,
search {
        position: absolute;
}

.recherche img {
        opacity: 1;
        color: black;
}

.h2 {
        text-align: center;
        text-decoration-line: underline;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 50px;
}

#conteneur {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
}

.saumon {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);
}

.salade {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);
}

.scampis {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);
}

.thèmes {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration: underline;
        font-size: 25px;
        font-weight: bold;
        margin-top: 150px;
        

}


/* Pastilles thèmes */

#pastilles {
        display: flex;
        justify-content: space-around;


}

.d1 {

        width: 100px;
        height: 100px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);

}

.rapide {
        width: 50px;
        height: 40px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        margin-bottom: 30px;
        padding-bottom: 20px;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);
}

.d2 {
        width: 100px;
        height: 100px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        text-align: center;
        padding-bottom: 20px;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);
}

.entrée {
        width: 50px;
        height: 40px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        padding-bottom: 20px;
}

.d3 {
        width: 100px;
        height: 100px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        text-align: center;
        padding-bottom: 20px;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);
}

.Plats {
        width: 50px;
        height: 40px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        padding-bottom: 20px;
        
}

.d4 {
        width: 100px;
        height: 100px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        text-align: center;
        padding-bottom: 20px;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);
}

.Desserts {
        width: 50px;
        height: 40px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        padding-bottom: 20px;
}

.d5 {
        width: 100px;
        height: 100px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        text-align: center;
        padding-bottom: 20px;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);
}

.Vegan {
        width: 50px;
        height: 40px;
        background-color: rgb(209, 72, 54);
        border-radius: 10px;
        padding-bottom: 20px;
}

.ingrédients {
        width: 600px;
        height: 150px;
        background-color: rgb(73, 197, 182);
        border-radius: 20px;
        opacity: 80%;
        text-align: center;
        margin-left: 30%;
        margin-top: 100px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        box-shadow: 7px 5px 5px rgba(32, 32, 32, 0.459);
}

.texte {
        display: flex;
        display: block;
        padding-top: 60px;


}

#Ingrédients {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
}


.choux {
        font-family: Arial, Helvetica, sans-serif;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);

}



.poireaux {
        font-family: Arial, Helvetica, sans-serif;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);
}


.endives {
        font-family: Arial, Helvetica, sans-serif;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);
}


.collin {
        font-family: Arial, Helvetica, sans-serif;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);
}


.poire {
        font-family: Arial, Helvetica, sans-serif;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 5px 5px rgba(32, 32, 32, 0.459);
}

.T1 {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        text-align: center;
        

}

.T2 {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        text-align: center;

}

.T3 {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        text-align: center;

}

.T4 {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        text-align: center;

}

.T5 {
        width: 100px;
        height: 10px;
        border-radius: 10px;
        text-align: center;


}

.a1 {
        text-decoration: none;
        color: black;

}

.a2 {
        text-decoration: none;
        color: black;

}

.a3 {
        text-decoration: none;
        color: black;

}

.a4 {
        text-decoration: none;
        color: black;

}

/* .a5{
        text-decoration: none;
        color: black;
       
} */
.a6 {
        text-decoration: none;
        color: black;

}

#footer {
        background-color: rgb(209, 72, 54);
        height: 200px;
        margin-top: 100px;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        justify-content: space-around;
        margin-top: 100px;

}

.f1 {
        margin-top: 80px;
}

.f2 {
        margin-top: 80px;
}

.f3 {
        margin-top: 80px;
}

.facebook {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-content: center;
        margin-top: 90px;
        box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.459);



}

.instagram {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        justify-content: center;
        margin-top: 90px;
        box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.459);

}

.pinterest {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        margin-top: 90px;
        box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.459);
}


/* Responsive */

@media (max-width:550px) {
        h1 {
                text-align: center;
                color: rgb(209, 72, 54);
                font-size: 30px;
                margin-top: 20px;
                text-shadow: black 10%;

        }

        .search {
                margin-left: 30%;
                text-align: center;
                width: 250px;
                height: 40px;
                background-color: rgb(73, 197, 182);
                border-radius: 20px;
                opacity: 80%;
        }

        .ingrédients {
                width: 200px;
                height: 150px;
                background-color: rgb(73, 197, 182);
                border-radius: 20px;
                opacity: 80%;
                text-align: center;
                margin-left: 200px;
                margin-top: 100px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 25px;
        }

        .d1 {
                width: 100px;
                height: 100px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                text-align: center;
                margin-bottom: 30px;
                padding-bottom: 20px;
        }

        .rapide {
                width: 50px;
                height: 40px;
                background-color: rgb(209, 72, 54);
                border-radius: 5px;
                margin-bottom: 30px;
                padding-bottom: 20px;
        }

        .d2 {
                width: 100px;
                height: 100px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                text-align: center;
                padding-bottom: 20px;
        }

        .entrée {
                width: 50px;
                height: 40px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                padding-bottom: 20px;
        }

        .d3 {
                width: 100px;
                height: 100px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                text-align: center;
                padding-bottom: 20px;
        }

        .Plats {
                width: 50px;
                height: 40px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                padding-bottom: 20px;
        }

        .d4 {
                width: 100px;
                height: 100px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                text-align: center;
                padding-bottom: 20px;
        }

        .Desserts {
                width: 50px;
                height: 40px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                padding-bottom: 20px;
        }

        .d5 {
                width: 100px;
                height: 100px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                text-align: center;
                padding-bottom: 20px;
        }

        .Vegan {
                width: 50px;
                height: 40px;
                background-color: rgb(209, 72, 54);
                border-radius: 10px;
                padding-bottom: 20px;
        }

        #footer {
                padding-right: 1000px;

        }

        .saumon {
                height: 100px;
                width: 100px;
                border-radius: 10px;
        }

        .salade {
                height: 100px;
                width: 100px;
                border-radius: 10px;
        }

        .scampis {
                height: 100px;
                width: 100px;
                border-radius: 10px;
        }
}