body {
    margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

#header{
    background-image: url(./images/background\ 2.jpg);
    display: flex;
    width: 100%;
    height: 100px;
    background-position-y: 20%;
    background-position: right 45%;
    background-size: cover;
}
#connexion{
    width: 130px;
    color: rgb(209,72,54);
    height: 80px;
    border-radius: 15px;
    background-color: rgb(73,197,182);
    margin-left:85%;
    margin-top: 9px;
    border: none;
    opacity: 80%;
}
h1{
    text-align: center;
    color : rgb(209,72,54);
    font-size: 60px;
    margin-top: 20px;
    text-shadow: black 10%;
    
}