body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Itim';
}

#header{
    background-image: url(./images/background\ 2.jpg);
    display: flex;
    width: 100%;
    height: 100px;
    background-position-y: 20%;
    background-position: right 45%;
    background-size: cover;
}
.header {
    width: 130px;
    color: rgb(209,72,54);
    height: 50px;
    border-radius: 15px;
    background-color: rgb(73,197,182);
    margin-top: 15px;
    border: none;
    opacity: 80%;
    margin-left: 15px;
}
.header-left {
    margin-right: 45%;
}
.header-right {
    margin-left: 45%;
    margin-right: 2%;
}
h1{
    text-align: center;
    color : rgb(209,72,54);
    font-size: 60px;
    margin-top: 20px;
    text-shadow: 1px 1px 2px black;
    
}
.burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    
  }
  .search {
    margin-left: 30%;
    text-align: center;
    width: 500px;
    height: 40px;
    background-color: rgb(73,197,182);
    border-radius: 20px;
    opacity: 80%;
  }

  .loupe { 
    height: 40px;
    margin-left: 31% ;
    opacity: 1;
    color: black;
    
  }
  .recherche {
    position: relative;
    margin-left: 90px;
  }
  .recherche img,search{
    position: absolute;
  }
  .recherche img{
    opacity: 1;
    color: black;
  }
  #conteneur {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }
   #conteneur2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }
   .pesto{
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
   }
  
   
   .beignets{
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
    .burger{
        height: 350px;
        width: 350px;
        border-radius: 20px;
        margin-left: 50px;
        margin-right: 50px;
       }
       .trio{
        height: 350px;
        width: 350px;
        border-radius: 20px;
        margin-left: 50px;
        margin-right: 50px;
       }

       .titre1{
        
        text-align: center;
        margin-top: 100px;
        font-family: 'Itim';
       }
       .titre2{
      
        text-align: center;
        margin-top: 100px;
        font-family: 'Itim';
       }
       .titre3{
       
        text-align: center;
        margin-top: 100px;
        font-family: 'Itim';
       }
       .titre4{
        
        text-align: center;
        margin-top: 100px;
        font-family: 'Itim';
       }
   
   #footer{
    background-color:rgb(209,72,54);
    height: 200px;
    margin-top: 100px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-around;
    margin-top: 100px;

}
.f1{
    margin-top: 80px;
}
.f2{
    margin-top: 80px;
}
.f3{
    margin-top: 80px;
}

.facebook{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    margin-top: 90px;
    
    
    
}
.instagram{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
   
}
.pinterest{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    margin-top: 90px;
}
